.container.text
  %h3 strona główna
  %hr
  %p.text-center
    %strong Witamy na stronie Restauracji Sowa & Przyjaciele
  .row
    .col-xs-6.col-sm-4
      = image_tag("obraz4.jpg")
    .col-xs-6.col-sm-8
      %p Moje motto życiowe brzmi „Życie kocha jeść”, ale zawsze pozostają pytania-gdzie i co?
      %br
      W odpowiedzi zapraszam Państwa do wyjątkowego miejsca, które szczyci się ponad 50-letnią chlubną
      tradycją kulinarną, a teraz w nowej odsłonie zapewnia naszym gościom niesamowite wrażenia kulinarne
      i wspaniałą atmosferę.
      %p
      %br
      W Restauracji Sowa & Przyjaciele w niezwykły nastrój wprowadzą Państwa dania
      kuchni międzynarodowej, jak również tradycyjne dania polskie przygotowane z najlepszych, świeżych
      i oryginalnych produktów, przyrządzone przy użyciu najnowocześniejszych urządzeń i technologii
      stosowanych przez mistrzów światowej kuchni.Waszą ucztę dopełni starannie wyselekcjonowany wybór
      kilkuset wybornych win i alkoholi z całego świata.