%br
.container
  .col-md-3.col-md-offset-1
    %br
    = image_tag( "http://www.sowaiprzyjaciele.pl/wp-content/themes/sowa_wordpress/images/logoa.png", alt: "Example Image")
  %br
  %br
  %br
  %br
  %ul.nav.nav-pills
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Restauracja
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Oferta
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Cygarownia
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} VIP Room I
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} VIP Room II
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Robert Sowa
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Dessigner
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Mój kulinarny team
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Menu
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Menu główne
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} oferta weekendowa
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} wina
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} cygara
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Galeria
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Kontakt
    %li.dropdown
      %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Aktualności
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Wydarzy się
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Wydarzyło się
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Media o nas
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Certyfikaty i nagrody